<div class="container">
  <h1>
    Create a file
  </h1>
  <p><b>Please fill all the fields from the form to add a user</b></p>

  <div class="formWrapper">
    <input type="text" name="title" placeholder="Title:" [(ngModel)]="title" required><br>
    <input type="text" name="format_type" placeholder="Format Type:" [(ngModel)]="format_type" required><br>
    <input type="text" name="genre" placeholder="Genre:" [(ngModel)]="genre" required><br>
    <input type="text" name="path" placeholder="Path:" [(ngModel)]="path" required><br>
        <div class="button_container">
            <button (click)="addFile(title, format_type, genre, path)">Add File</button>
            <button (click)="goBack()">Go Back</button>
        </div>
    </div>
</div>
